body {
  background-image: url(https://images.pixexid.com/this-wallpaper-features-a-minimalist-abstract-design-with-a-black-background-and-yipnvyor.webp?h=700&q=70);
  font-family: sans-serif;
  text-align: center;
  color: white;
}

nav {
    background-color: darkred;
    position: sticky;
}

nav ul {
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}

nav li {
    width: 20%;
    display: inline-block;
    font-size: 25px;
    margin-bottom: 9px;
}

nav li a {
    color: black;
    padding: 1px;
    border-radius: 25px;

}

img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.img-marissa {
    position: relative;
    max-width: 500px;
}

.column {
    float: left;
    width: 33.33%;
    text-align: left;
    margin: 10px; 
}

.insp-column {
    float: left;
    width: 33.33%;
    text-align: center;
}

div.quote {
    font-size: 20px;
    background-color: gray;
    color: white;
    margin: 20px;
    padding: 20px;
    display: inline-block;
    border-color: solid gray;
    border-radius: 10px;
}